# CSV Files and Data Frames

This exercise should get you started with handling data in Python. There is no data analysis yet, just some loading and filtering of the data.


## Loading data from CSV
Your first step is always accessing the data. Often, the data is stored in a database or within files. One common and generic exchange format for files are Comma Separated Value (CSV) files. The first line of such a file indicates the names of the features, the following lines each contain a single instance.

First, download the ```analcatdata_bankruptcy``` dataset in the data folder and and upload it to your Jupyter notebook.

Use the cell below to load the data from the CSV file. The data should be loaded into a _data frame_. Data frames are available in python using the ```pandas``` library. In comparison to matrices or similar types, they allow different types of columns, are usually easier to manipulate, e.g., by adding or removing rows/columns, and rows and columns can be named.

Once you have done this, print some information about the data:
- number of instances
- number of features
- names of the features

In [21]:
import pandas as pd


df = pd.read_csv("analcatdata_bankruptcy.csv", na_values=["NA"])

print("Number of instances:", df.shape[0])
print("Number of features:", df.shape[1])
print("Feature names:", list(df.columns))

Number of instances: 50
Number of features: 7
Feature names: ['Company', 'WC/TA', 'RE/TA', 'EBIT/TA', 'S/TA', 'BVE/BVL', 'Bankrupt']

In [20]:
df.head()

                     Company  WC/TA  RE/TA  EBIT/TA  S/TA  BVE/BVL  Bankrupt
0                360Networks    9.3   -7.7      1.6   9.1    3.726         1
1     Advanced_Radio_Telecom   42.6  -60.1    -10.1   0.3    4.130         1
2      Ardent_Communications  -28.8 -203.2    -51.0  14.7    0.111         1
3              At_Home_Corp.    2.5 -433.1     -6.0  29.3    1.949         1
4  Convergent_Communications   26.1  -57.4    -23.5  54.2    0.855         1

## Remove features

If you load all data from a file, you often also load irrelevant features for a task. In case of the data you just loaded, the feature is called ```Company```. This is an ID feature for the instances in the data. Such data must often be removed before further analysis of the data. Your second task is to remove this feature from the data.

In [17]:
# remove the 'Company' feature (column)
df = df.drop(columns=['Company'])

# check the remaining features
print("Remaining features:", list(df.columns))

Remaining features: ['WC/TA', 'RE/TA', 'EBIT/TA', 'S/TA', 'BVE/BVL', 'Bankrupt']

## Remove instances with missing values

Real-life data is often not clean, i.e., the data has many problems which must be addressed first, before it can be used for analysis. One common problem are missing features, i.e., not all features are available for all data. This is also the case for the data you just loaded. All missing values are marked as NA in the CSV file.

Your third task is to remove all instances from the data, that have any missing values and store the remaining instances in a new data frame. If this works correctly, five instances should be removed. You can check this, e.g., by comparing the sizes of the data frames or printing the instances that were removed.

In [23]:
df_clean = df.dropna()

print("Original number of instances:", df.shape[0])
print("After removing missing values:", df_clean.shape[0])
print("Instances removed:", df.shape[0] - df_clean.shape[0])

Original number of instances: 50
After removing missing values: 50
Instances removed: 0

## Computing with data frames

Sometimes you have to compute new columns from the values of existing columns. Please append two new columns to the data frame: The sum of the columns WC/TA and RE/TA and the product of the columns EBIT/TA and S/TA.

In [24]:
df["WC_RE_Sum"] = df["WC/TA"] + df["RE/TA"]

df["EBIT_S_Product"] = df["EBIT/TA"] * df["S/TA"]

print(df[["WC/TA", "RE/TA", "WC_RE_Sum", "EBIT/TA", "S/TA", "EBIT_S_Product"]].head())

   WC/TA  RE/TA  WC_RE_Sum  EBIT/TA  S/TA  EBIT_S_Product
0    9.3   -7.7        1.6      1.6   9.1           14.56
1   42.6  -60.1      -17.5    -10.1   0.3           -3.03
2  -28.8 -203.2     -232.0    -51.0  14.7         -749.70
3    2.5 -433.1     -430.6     -6.0  29.3         -175.80
4   26.1  -57.4      -31.3    -23.5  54.2        -1273.70

## Merging data frames

The next task of this exercise is to merge data frames. For this, load the data from the same CSV file as above again. Then merge the data frame with the result from task 2.4, such that:
- the dropped feature from task 2.2 is part of the merged data frame; and
- the removed instances from task 2.3 are still gone; and
- the indirectly computed features from task 2.4 are part of the merged data frame.

In [27]:
df_full = pd.read_csv("analcatdata_bankruptcy.csv", na_values=["NA"])

df_full_clean = df_full.dropna()

merged_df = pd.merge(
    df_full_clean[["Company"]],
    df_clean,
    left_index=True,
    right_index=True
)

print("Merged DataFrame shape:", merged_df.shape)
print(merged_df.head())

Merged DataFrame shape: (50, 8)
                   Company_x                  Company_y  WC/TA  RE/TA  \
0                360Networks                360Networks    9.3   -7.7
1     Advanced_Radio_Telecom     Advanced_Radio_Telecom   42.6  -60.1
2      Ardent_Communications      Ardent_Communications  -28.8 -203.2
3              At_Home_Corp.              At_Home_Corp.    2.5 -433.1
4  Convergent_Communications  Convergent_Communications   26.1  -57.4

   EBIT/TA  S/TA  BVE/BVL  Bankrupt
0      1.6   9.1    3.726         1
1    -10.1   0.3    4.130         1
2    -51.0  14.7    0.111         1
3     -6.0  29.3    1.949         1
4    -23.5  54.2    0.855         1

## Selecting subsets

Based on the data frame from task 2.5, create new data frames according to the following criteria.
- A data frame with only the rows 10 to 20 and all columns.
- A data frame with only the columns 1 to 4 and all rows.
- A data frame with only the columns WC/TA and EBIT/TA and all rows.
- A data frame with all rows that have the value RE/TA less than -20 and all columns.
- A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and all columns.
- A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and only the columns WC/TA and EBIT/TA.

In [29]:

df_rows_10_20 = merged_df.iloc[10:21, :]

df_cols_1_4 = merged_df.iloc[:, 1:5]

df_wc_ebit = merged_df[["WC/TA", "EBIT/TA"]]

df_re_less20 = merged_df[merged_df["RE/TA"] < -20]

df_re_less20_b0 = merged_df[(merged_df["RE/TA"] < -20) & (merged_df["Bankrupt"] == 0)]

df_re_less20_b0_wc_ebit = df_re_less20_b0[["WC/TA", "EBIT/TA"]]

print(df_rows_10_20.head())
print(df_cols_1_4.head())
print(df_wc_ebit.head())
print(df_re_less20.head())
print(df_re_less20_b0.head())
print(df_re_less20_b0_wc_ebit.head())

                 Company_x               Company_y  WC/TA  RE/TA  EBIT/TA  \
10      Global_Telesystems      Global_Telesystems   24.6  -29.0     -2.0
11             GST_Telecom             GST_Telecom    6.6  -50.9     -2.6
12                Metricom                Metricom   33.9  -46.5    -17.5
13  Net2000_Communications  Net2000_Communications   19.1  -66.3    -25.5
14   NetVoice_Technologies   NetVoice_Technologies  -21.1  -46.0    -26.8

    S/TA  BVE/BVL  Bankrupt
10  21.3    1.968         1
11  28.9    0.258         1
12   0.9    0.828         1
13  22.3    0.460         1
14  81.4    0.698         1
                   Company_y  WC/TA  RE/TA  EBIT/TA
0                360Networks    9.3   -7.7      1.6
1     Advanced_Radio_Telecom   42.6  -60.1    -10.1
2      Ardent_Communications  -28.8 -203.2    -51.0
3              At_Home_Corp.    2.5 -433.1     -6.0
4  Convergent_Communications   26.1  -57.4    -23.5
   WC/TA  EBIT/TA
0    9.3      1.6
1   42.6    -10.1
2  -28.8    -51.0
3    2.5     -6.0
4   26.1    -23.5
                   Company_x                  Company_y  WC/TA  RE/TA  \
1     Advanced_Radio_Telecom     Advanced_Radio_Telecom   42.6  -60.1
2      Ardent_Communications      Ardent_Communications  -28.8 -203.2
3              At_Home_Corp.              At_Home_Corp.    2.5 -433.1
4  Convergent_Communications  Convergent_Communications   26.1  -57.4
5       Covad_Communications       Covad_Communications   39.2 -111.8

   EBIT/TA  S/TA  BVE/BVL  Bankrupt
1    -10.1   0.3    4.130         1
2    -51.0  14.7    0.111         1
3     -6.0  29.3    1.949         1
4    -23.5  54.2    0.855         1
5    -77.8  10.5    0.168         1
              Company_x            Company_y  WC/TA  RE/TA  EBIT/TA  S/TA  \
26  Akamai_Technologies  Akamai_Technologies    9.8  -33.8     -7.1   3.2
27   Allegiance_Telecom   Allegiance_Telecom   37.8  -45.4     -7.1  17.1
35                Digex                Digex   13.8  -37.6    -13.0  32.3
41     Openwave_Systems     Openwave_Systems   20.3  -61.3      1.9  27.0
49     Western_Wireless     Western_Wireless    1.1  -39.5     15.7  41.8

    BVE/BVL  Bankrupt
26    5.965         0
27    3.450         0
35   13.768         0
41   35.178         0
49    1.449         0
    WC/TA  EBIT/TA
26    9.8     -7.1
27   37.8     -7.1
35   13.8    -13.0
41   20.3      1.9
49    1.1     15.7